*{
  margin: 0px;
  padding: 0px;
}
form{
  height: 500px;
  width: 600px;
  background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20220513/pngtree-blue-and-green-abstract-wave-background-design-image-vector-image_1349682.jpg");
  image-rendering: auto;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  margin-left: 200px;
  text-align: center;
  align-content: center;
}

label{
color: blue;
align-items: center;
display: block;
justify-content: center;
align-items: center;
}


.btn {
  height: 30px;
  width: 100px;
  cursor: pointer;
}